*{
    letter-spacing: 0.05rem;
}

.product-item {
    width: 20%;
    line-height: 2rem;
}

.nav a{
    color: black;
    text-decoration: underline;
    margin-left: 20px;
}

/* Hiding arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}
input[type=number] {
    -moz-appearance: textfield;
}

#createProduct input,select,button{
    margin-top: 2rem;
}
#createProduct {
    max-width: 35%;
}